# Base de datos
MYSQL_ROOT_PASSWORD=root_password_urbanfit
MYSQL_DATABASE=urbanfit_db
MYSQL_USER=urbanfit_user
MYSQL_PASSWORD=urbanfit_password

# WordPress
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_PORT=8080

# phpMyAdmin
PHPMYADMIN_PORT=8081
